.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -14rem;
  width: 14rem;
  visibility: hidden;
  overflow-y: auto;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: .875rem; /* 15px */
  color: white;
  background-color: #74b93f;
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}